@font-face {
    font-family: 'Rubik light';
    src: url('./assets/fonts/Rubik/Rubik-Light.woff2') format('woff2'),
        url('./assets/fonts/Rubik/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik regular';
    src: url('./assets/fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
        url('./assets/fonts/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik bold';
    src: url('./assets/fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
        url('./assets/fonts/Rubik/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr 5fr;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    background-color: #0a0908;
}

header > h1 {
    font-family: "Rubik bold";
    font-size: 2.5rem;
    color: #ffffff;
}

header > button {
    display: grid;
    grid-template-columns: 25px max-content;
    justify-self: end;
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    width: min-content;
    border: none;
    border-radius: 10px;
    background-color: #22333b;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

header > button:hover {
    transform: scale(1.05);
}

header > button > svg {
    width: min-content;
    height: auto;
    fill: #ffffff;
}

header > button > p {
    color: #ffffff;
    font-family: "Rubik bold";
}

main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 50px 50px 0 50px;
    background-color: #ffffff;
    font-family: "Rubik regular";
}

main .myLibrary {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
    grid-template-columns: repeat(auto-fit, minmax(0, 150px));
    justify-content: center;
    gap: 15px;
}

/* Books displayed on the library styles */
.book {
    display: grid;
    grid-template-rows: minmax(0, 130px);
    justify-items: center;
    align-items: center;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.2s ease-in-out;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .5);
}

.book-title {
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
}

main > dialog {
    &[open] {
        display: grid;
        grid-template: min-content 1fr min-content / repeat(2, 1fr);
        column-gap: 20px;
        min-width: max-content;
        min-height: auto;
        padding: 50px;
        border: none;
        border-radius: 10px;
        inset: 0;        
    }
    &::backdrop {
        background-color: rgb(10, 9, 8, 0.6);
    }
}

dialog > .closeBtn {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    justify-self: end;
    width: 25px;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0 , 0) ;
}

dialog > form {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template: repeat(4, min-content) / repeat(2, min-content);
    gap: 10px;
    margin-bottom: 20px;
}

form .item-a {
    grid-area: 1 / 1 / 2 / 3;
}

form .item-b {
    grid-area: 2 / 1 / 3 / 3;
}

form .item-e {
    grid-area: 4 / 1 / 5 / 3;
}

form > div {
    display: grid;
    grid-template: min-content 1fr / 1fr;
}

form > div > fieldset {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(2, max-content);
    column-gap: 8px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #adb5bd;
}

form > div > label,
form > div > fieldset > legend {
    font-family: "Rubik light";
    font-size: 0.8rem;
}

form > div > fieldset > label,
form > div > fieldset > input {
    cursor: pointer;
}

form > div > input {
    padding-block: 5px;    
    padding-inline: 8px;
    border: 1px solid #adb5bd;
    border-radius: 8px;
    color: #000000;
}

form > div > input:focus {
    outline: 2px solid #22333b;
}

dialog #submitBtn,
dialog #cancelBtn {
    cursor: pointer;
    padding-inline: 30px;
    padding-block: 10px;
    border: none;
    border-radius: 8px;
    background-color: #22333b;
    color: #ffffff;
}

aside {
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: start;
    gap: 100px;
    background-color: #22333b;
}

aside .logo {
    display: grid;
    grid-template: min-content / 50px 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: #ffffff;
}

.logo > svg {
    fill: #ffffff;
}

.logo > p {
    display: grid;
    align-self: center;
    font-family: "Rubik bold";
    font-size: 1.5rem;
}

aside nav {
    display: grid;
    grid-template: min-content / 35px 1fr;
    width: 100%;
    gap: 5px;
    padding-left: 20px;
    color: #22333b;
    background-color: #ffffff;
}

nav > svg {
    display: grid;
    justify-self: center;
    fill: #22333b;
}

nav > a {
    display: grid;
    align-self: center;
    font-family: "Rubik bold";
    text-decoration: none;
    cursor: pointer;
}

nav > a:visited {
    color: #ffffff;
}

footer {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    justify-items: center;
    align-items: end;
    min-height: 50px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-family: "Rubik regular";
    color: #000000;
    background-color: #ffffff;
}

footer > div > a {
    color: #000000;
}
